<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd"> 
  <localRepository>D:\apache-maven-3.1.1\repository</localRepository>  
  <pluginGroups>
	<pluginGroup>org.mortbay.jetty</pluginGroup>
  </pluginGroups>
  <proxies>   
  </proxies>
  <servers>
		<server> 
			<id>releases</id> 
			<username>admin</username> 
			<password>admin123</password> 
		</server> 
		<server> 
			<id>snapshots</id> 
			<username>admin</username> 
			<password>admin123</password> 
		</server>
		<server>
			<id>ali-releases</id>
			<username>ali</username>
			<password>ali</password>
		 </server>		 
		 <server>
			<id>central</id>
			<username>ali</username>
			<password>ali</password>
		 </server>
		 <server>
			<id>ali-releases</id>
			<username>ali</username>
			<password>ali</password>
		 </server>
  </servers>
  <!-- <mirrors> 
	<mirror>		 
		  <id>nexus</id>
		  <mirrorOf>*</mirrorOf> 
		  <url>http://maven.aliyun.com/nexus/content/groups/public/</url>
		</mirror>
		<mirror>
		 
		  <id>nexus-public-snapshots</id>
		  <mirrorOf>public-snapshots</mirrorOf> 
		  <url>http://maven.aliyun.com/nexus/content/repositories/snapshots/</url>
		</mirror>
  </mirrors>  
  -->
  <profiles>  
    <profile>
            <id>irms</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>public</id>
                    <name>Public Repositories</name>
                    <url>http://182.18.57.5:8080/nexus/repository/maven-public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>releases</id>
                    <name>releases</name>
                    <url>http://182.18.57.5:8080/nexus/repository/releases/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>thirdparty</id>
                    <name>3rd party</name>
                    <url>http://182.18.57.5:8080/nexus/repository/thirdparty/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>snapshots</id>
                    <name>snapshots</name>
                    <url>http://182.18.57.5:8080/nexus/repository/snapshots/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>


				<repository>
					<id>central</id>
					<name>ali-central</name>
					<url>http://maven.aliyun.com/nexus/content/groups/public/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<layout>default</layout>
				</repository>
				<repository>
					<id>ali-releases</id>
					<name>ali-releases</name>
					<url>http://maven.aliyun.com/nexus/content/repositories/releases/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>ali-snapshots</id>
					<name>ali-snapshots</name>
					<url>http://maven.aliyun.com/nexus/content/repositories/snapshots/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>public</id>
                    <name>Public Repositories</name>
                    <url>http://182.18.57.5:8080/nexus/repository/maven-public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
  </profiles>
  <activeProfiles>    
    <activeProfile>irms</activeProfile>    
  </activeProfiles> 
</settings>
